@using Everest.API
@using Everest.Domain
@using Incoding.Web.Extensions
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewData["Header"] = DataResource.Contacts;
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dt-buttons btn-group flex-wrap">


            @(Html.When(JqueryBind.Click)
                .Ajax(Url.Dispatcher().Query(new AddOrEditContactsCommand.AsQuery()).AsView("~/Views/Admin/Contacts/AddOrEdit.cshtml"))
                .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                .AsHtmlAttributes(new { @class = "btn btn-secondary buttons-copy buttons-html5", style = "margin-bottom:8px;" })
                .ToButton(@<text>
                <span>@DataResource.Add</span>
            </text>))
        </div>
    </div>
    @(Html.When(JqueryBind.InitIncoding)
        .Ajax(new GetContactsQuery())
        .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/Admin/Contacts/Tmpl.cshtml").Html())
        .AsHtmlAttributes(new { @class = "col-sm-12 col-md-12", id = nameof(GetContactsQuery) })
        .ToDiv())
</div>