﻿@using Everest.API
@using Everest.Domain
@{
    using (var template = Html.Incoding().Template<GetContactsQuery.Response>())
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th style="width: 108px;"></th>
                <th>@DataResource.CompanyName</th>
                <th>@DataResource.Email</th>
                <th>@DataResource.Phone</th>
                <th>@DataResource.Site</th>
                <th>@DataResource.Adress</th>
                <th>@DataResource.ShortDescription</th>
                <th>@DataResource.LongDescription</th>
               
            </tr>
            </thead>
            <tbody>
            @using (template.NotEach())
            {
                <tr>
                    <td colspan="8">
                        @DataResource.Empty
                    </td>
                </tr>
            }
            @using (var each = template.ForEach())
            {
                <tr>
                    <td style="padding-right: 10px;">
                        <span>
                        @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                                .Query<AddOrEditContactsCommand.AsQuery>(new { Id = each.For(q => q.Id) })
                                .AsView("~/Views/Admin/Contacts/AddOrEdit.cshtml"))
                            .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                            .AsHtmlAttributes(new
                            {
                                @class = "btn btn-secondary bi bi-pencil",
                                type = "button",
                                width = "16",
                                height = "16",
                                fill = "currentColor",
                            })
                            .ToButton(@<span></span>))

                        @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                                .Push<AddOrEditContactsCommand>(new { Id = each.For(q => q.Id) }))
                            .OnBegin(dsl => dsl.Break.If(() => !Selector.JS.Confirm("Are you sure delete ?")))
                            .OnSuccess(dsl => dsl.WithId(nameof(GetContactsQuery)).Trigger.Incoding())
                            .AsHtmlAttributes(new
                            {
                                @class = "btn btn-secondary bi bi-trash3",
                                type = "button",
                                width = "16",
                                height = "16",
                                fill = "currentColor",
                            })
                            .ToButton(@<span></span>))
                    </span>


                    </td>
                    <td>
                        @each.For(q => q.Company)
                    </td>
                    <td>
                        @each.For(q => q.Email)
                    </td>
                    <td>
                        @each.For(q => q.Phone)
                    </td>
                    <td>
                        @each.For(q => q.Domen)
                    </td>
                    <td>
                        @each.For(q => q.Adress)
                    </td>
                    <td>@each.For(q=>q.AboutShort)</td>
                    <td>@each.For(q=>q.AboutLong)</td>
                     
                </tr>
            }

            </tbody>
        </table>
    }
}