﻿@using Everest.Domain
@using Everest.API
@using Incoding.Web.Extensions
@using (var template = Html.Incoding().Template<GetContactsQuery.Response>())
{

    @using (template.NotEach())
    {
        <div>@DataResource.Empty</div>
    }

    @using (var each = template.ForEach())
    {
        <div>
            <a href="tel:+@each.For(q => q.Phone)" class="d-flex gap-2 align-items-center text-dark text-decoration-none">
                <span class="bi bi-telephone-outbound"></span>
                <span>+@each.For(q => q.Phone)</span>
            </a>
            <a href="mailto:@each.For(q => q.Email)" class="d-flex gap-2 align-items-center text-dark text-decoration-none">
                <span class="bi bi-envelope"></span>
                <span>@each.For(q => q.Email)</span>
            </a>
        </div>
    }

}