﻿@using Everest.API
@{
    var header = ViewData[nameof(ContentLayoutModel.Header)];
}

<div class="content" style="min-height: 1199px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col-sm-6">
                    <h1>@header</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row" style="margin-left: 0; margin-right: 0;">
                <div class="col-12 card">
                    
                        <!-- /.card-header -->
                        <div class="card-body">
                            @RenderBody()
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>