﻿@using Everest.API
@using Everest.Domain
<footer class="footer navbar-custom  py-4" id="contacts">
    <div class="container">
        <div class="row">
            <!-- Navigation Column -->
            <div class="col-md-6 mb-4">
                <nav class="nav flex-column">
                    <a class="nav-link" href="@Url.Action("Main", "Home")">@DataResource.Main</a>
                    <a class="nav-link" href="@Url.Action("Product", "Home")">@DataResource.Product</a>
                    <a class="nav-link" href="#about">@DataResource.About</a>
                    <a class="nav-link" href="@Url.Action("Cart", "Home")">@DataResource.Cart</a>
                </nav>
            </div>
            <!-- Information Column -->
            <div class="col-md-6 mb-4">
                <div class="d-flex flex-column gap-3">
                    @Html.Dispatcher().AsViewFromQuery(new GetContactsQuery(), "~/Views/App/Contacts/Tmpl.cshtml")
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>
                &copy; <span id="current-year">@DateTime.Now.Year</span>
                <strong>@DataResource.ApplicationName</strong><br/>
                <strong>All rights reserved.</strong>
            </p>
        </div>
    </div>
</footer>