﻿@using Everest.API
@using Everest.Domain

<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
    <div class="container-fluid">

        <a class="navbar-brand logo" href="@Url.Action("Main", "Home")">
            <img src="~/favicon1.png" alt="Logo" class="logo-image">
        </a>

        <div class="navbar-nav me-auto">
            <ul class="navbar-nav">
                <li class="nav-item" style="font-size: 1.25rem">
                    @(Html.When(JqueryBind.Click)

                        .OnSuccess(dsl =>
                        {
                            dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                            dsl.Self().JQuery.Attr.AddClass(B.Active);
                        })
                        .AsHtmlAttributes(new
                        {
                            @class = "nav-link active",
                            href = "/"
                        })
                        .ToTag(HtmlTag.A,
                    @<text>
                        <i class="far fa-circle nav-icon"></i>
                        <span>@DataResource.Main</span>
                    </text>))
                </li>
                <li class="nav-item" style="font-size: 1.25rem">
                    @(Html.When(JqueryBind.Click)

                        .OnSuccess(dsl =>
                        {
                            dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                            dsl.Self().JQuery.Attr.AddClass(B.Active);
                        })
                        .AsHtmlAttributes(new
                        {
                            @class = "nav-link",
                            href = "#products"
                        })
                        .ToTag(HtmlTag.A,
                    @<text>
                        <i class="far fa-circle nav-icon"></i>
                        <span>@DataResource.Product</span>
                    </text>))
                </li>
                <li class="nav-item" style="font-size: 1.25rem">
                    @(Html.When(JqueryBind.Click)

                        .OnSuccess(dsl =>
                        {
                            dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                            dsl.Self().JQuery.Attr.AddClass(B.Active);
                        })
                        .AsHtmlAttributes(new
                        {
                            @class = "nav-link",
                            href = "#contacts"
                        })
                        .ToTag(HtmlTag.A,
                    @<text>
                        <i class="far fa-circle nav-icon"></i>
                        <span>@DataResource.About</span>
                    </text>))
                </li>
            </ul>
        </div>

        <div class="navbar-nav me-auto">
            <span class="navbar-text custom-navbar-text">
                @DataResource.ApplicationName
            </span>
        </div>

        <div class="navbar-nav">
            <li class="nav-item contact-links">
                @Html.Dispatcher().AsViewFromQuery(new GetContactsQuery(), "~/Views/App/Header/Contacts/Tmpl.cshtml")
            </li>
            <a href="@Url.Action("Cart", "Home")" class="nav-link me-auto" style="font-size: 1.25rem">
                <span class="bi bi-cart4"></span>@DataResource.Cart
                @(Html.When(JqueryBind.None)
                    .Ajax(new GetCountCartQuery())
                    .OnSuccess(dsl =>
                    {
                        dsl.Self().Insert.Html();
                        dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                        dsl.Self().JQuery.Attr.AddClass(B.Active);
                    })
                    .AsHtmlAttributes(new { @class = "badge btn-secondary", id = nameof(GetCountCartQuery) })
                    .ToLabel(Html.Dispatcher().Query(new GetCountCartQuery()).ToString()))
            </a>
        </div>
    </div>
</nav>

@(Html.When(JqueryBind.Click)
    .Ajax(Url.Dispatcher().Query(new SendQuestionCommand()).AsView("~/Views/App/AnyQuestion/Tmpl.cshtml"))
    .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
    .AsHtmlAttributes(new { @class = "feedback-button" })
    .ToButton(@<text>
    <span>@DataResource.AnyQuestion</span>
</text>))
