﻿@using Everest.Domain
@model Everest.API.DropDownModel

        <div class="dt-buttons btn-group flex-wrap">
            @Html.Hidden(nameof(GetOrderQuery.SearchStatus))
    <button class="btn btn-secondary buttons-copy buttons-html5 @Model.ClassIcon" data-bs-toggle="dropdown" aria-expanded="false">
                
                <span> @Model.Text</span>
            </button>
            <ul class="dropdown-menu">
                @if (Model.Items != null)
                {
                    @foreach (var item in Model.Items)
                    {
                        <li>

                            @(Html.When(JqueryBind.Click)
                                .PreventDefault()
                                .OnSuccess(dsl =>
                                {
                                    dsl.WithId(nameof(GetOrderQuery.SearchStatus)).JQuery.Attr.Val(item?.Value);
                                    dsl.WithId(nameof(GetOrderQuery)).Trigger.None();
                                  
                                })
                                .AsHtmlAttributes(new { @class = "dropdown-item" })
                                .ToLink(@item?.Text))
                        </li>
                    }
                }

                <!-- Проверяем, что Url и Template не null перед использованием -->
                @if (Model.Url != null && Model.Template != null)
                {
                    @(Html.When(JqueryBind.Click)
                        .Ajax(Model.Url)
                        .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView(Model.Template))
                        .AsHtmlAttributes(new { @class = "dropdown-item" })
                        .ToTag(HtmlTag.Ul))
                }
            </ul>
            </div>
