@using Everest.API
@using Everest.Domain
@using Incoding.Web.Extensions
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewData["Header"] = DataResource.Order;
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dt-buttons btn-group flex-wrap">
            @* @(Html.When(JqueryBind.Click)
                .Ajax(Url.Dispatcher().Query(new AddOrEditOrderCommand.AsQuery()).AsView("~/Views/Admin/Order/AddOrEdit.cshtml"))
                .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                .AsHtmlAttributes(new { @class = "btn btn-secondary buttons-copy buttons-html5", style = "margin-bottom:8px;" })
                .ToButton(@<text>
                              <span>@DataResource.Add</span>
                           </text>))
            *@ @(Html.When(JqueryBind.KeyUp)
                   .Ajax(Url.Dispatcher().Query(new GetOrderQuery()).AsJson().AppendToQueryString(new { Search = Selector.Jquery.Self() }))
                   .OnSuccess(dsl =>
                   {
                       dsl.WithId(nameof(GetOrderQuery)).Insert.WithTemplateByView("~/Views/Admin/Order/Tmpl.cshtml").Html();
                   })
                   .AsHtmlAttributes(new { placeholder = @DataResource.OrderId })
                   .ToInput(HtmlInputType.Text,String.Empty))
           

            <div style="margin-left: 10px;">
                @await Html.PartialAsync("~/Views/Admin/Order/DropDownFilterStatus.cshtml", new DropDownModel
                       {
                           Items = Html.Dispatcher().Query(new GetOrderStatusForDDQuerys()),
                           Id = nameof(GetOrderQuery),
                           Text = @DataResource.Status,
                           Url = Url.Dispatcher().Query(new GetOrderQuery()).AsJson(),
                           Template = "~/Views/Admin/Order/Tmpl.cshtml",
                           
                            ClassIcon = "bi bi-filter-left"
                       })
            </div>
            <div style="margin-left: 10px;">
                @await Html.PartialAsync("~/Views/Admin/Order/DropDownFilterEmployee.cshtml", new DropDownModel
                         {
                             Items = Html.Dispatcher().Query(new GetEmployeeNameForDDQuery()),
                             Id = nameof(GetOrderQuery),
                             Text = @DataResource.Employee,
                             Url = Url.Dispatcher().Query(new GetOrderQuery()).AsJson(),
                             ClassIcon = "bi bi-filter-left",
                             Template = "~/Views/Admin/Order/Tmpl.cshtml",

                         })
            </div>
        </div>
    </div>
    @(Html.When(JqueryBind.None)
        .Ajax<GetOrderQuery>(new
                             {
                                 SearchStatus = Selector.Jquery.Id(nameof(GetOrderQuery.SearchStatus)),
                                 EmployeeId = Selector.Jquery.Id(nameof(GetOrderQuery.EmployeeId)),
                             })
                             .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
        .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/Admin/Order/Tmpl.cshtml").Html())
        .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
        .AsHtmlAttributes(new { @class = "col-sm-12 col-md-12", id = nameof(GetOrderQuery) })
        .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetOrderQuery(), "~/Views/Admin/Order/Tmpl.cshtml")))
</div>

        