﻿@using Everest.API
@using Everest.Domain
@using Incoding.Core
@{
    using (var template = Html.Incoding().Template<GetOrderQuery.Response>())
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="width-140"></th>
                <th class="width-67">@DataResource.OrderId №</th>
                <th class="width-127">@DataResource.Date</th>
                <th class="width-100">@DataResource.Status</th>
                <th class="width-160">@DataResource.Employee</th>
                <th class="width-160">@DataResource.Customer</th>
                <th class="width-160">@DataResource.Contacts</th>
                <th>@DataResource.Comment</th>
            </tr>
            </thead>
            <tbody>
                @using (template.NotEach())
                {
                    <tr>
                        <td colspan="6">
                            @DataResource.Empty
                        </td>
                    </tr>
                }
                @using (var each = template.ForEach())
                {
                    <tr>
                        <td style="padding-right: 10px;">
                            <button class="btn btn-secondary bi bi-eye" type="button" data-bs-toggle="collapse" data-bs-target="#details-@each.For(q => q.Id)"></button>
                            @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                            .Query<EditOrderCommand.AsQuery>(new { Id = each.For(q => q.Id) })
                            .AsView("~/Views/Admin/Order/Edit.cshtml"))
                            .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                            .AsHtmlAttributes(new
                            {
                                @class = "btn btn-secondary bi bi-pencil",
                                type = "button",
                                width = "16",
                                height = "16",
                                fill = "currentColor",
                            })
                            .ToButton(@<span></span>))
                            @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                            .Push<DeleteOrderCommand>(new { Id = each.For(q => q.Id) }))
                            .OnBegin(dsl => dsl.Break.If(() => !Selector.JS.Confirm("Are you sure delete ?")))
                            .OnSuccess(dsl => dsl.WithId(nameof(GetOrderQuery)).Trigger.None())
                            .AsHtmlAttributes(new
                            {
                                @class = "btn btn-secondary bi bi-trash3",
                                type = "button",
                                fill = "currentColor",
                            })
                            .ToButton(@<span></span>))

                        </td>
                        <td>@each.For(q => q.Id)</td>
                        <td>@each.For(q => q.OrderDate)</td>
                        <td>@each.For(q => q.Status)</td>
                        <td>@each.For(q => q.EmployeeName)</td>
                        <td>@each.For(q =>q.ClientName)</td>
                        <td>@each.For(q =>q.ClientEmail)</td>
                        <td>@each.For(q => q.EmployeeComment)</td>
                    </tr>
                    <tr class="collapse" id="details-@each.For(q => q.Id)" style="vertical-align: middle;" >
                        <td colspan="7">@each.For(q => q.ProductNameString)</td>
                        <td>@each.For(q => q.ClientComment)</td>
                    </tr>

                }
            </tbody>
        </table>
    }
}
