﻿@using Everest.Domain
@using Everest.API

@using (var template = Html.Incoding().Template<GetPartnerQuery.Response>())
{
    
        <div class="section section-striped row w-100">
            @using (template.NotEach())
            {
                <div>@DataResource.Empty</div>
            }

            @using (var each = template.ForEach())
            {
                <div class="col text-center partner">
                    <a href="@each.For(q => q.Site)" target="_blank">
                    <img loading="lazy" src="@(Url.Dispatcher().Query<GetLabelPartnerQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: "avatar"))" class="partner-logo" />
                        @*<span>@each.For(q => q.CompanyName)</span>*@
                    </a>
                </div>
            }
        </div>
   
}

