@using Everest.API
@using Everest.Domain
@using Incoding.Web.Extensions
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewData["Header"] = DataResource.Employees;
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dt-buttons btn-group flex-wrap">
     
            @(Html.When(JqueryBind.Click)
                .Ajax(Url.Dispatcher().Query(new AddOrEditEmployeeCommand.AsQuery()).AsView("~/Views/Admin/Employee/AddOrEdit.cshtml"))
                  .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                .AsHtmlAttributes(new { @class = "btn btn-secondary buttons-copy buttons-html5", style = "margin-bottom:8px;" })
                  .ToButton(@<text>
                                 <span>@DataResource.Add</span>
                             </text>))
            <div style="margin-left: 10px;">
            @(Html.When(JqueryBind.KeyUp)
                  .Ajax(Url.Dispatcher().Query(new GetEmployeesQuery()).AsJson().AppendToQueryString(new { Search = Selector.Jquery.Self() }))
                  .OnSuccess(dsl =>
                  {
                    dsl.WithId(nameof(GetEmployeesQuery)).Insert.WithTemplateByView("~/Views/Admin/Employee/Tmpl.cshtml").Html();
                  })
                  .AsHtmlAttributes(new { placeholder = @DataResource.SearchEmployee })
                .ToInput(HtmlInputType.Text,String.Empty))
            </div>
        </div>
    </div>
   @(Html.When(JqueryBind.InitIncoding)
         .Ajax(new GetEmployeesQuery())
         .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/Admin/Employee/Tmpl.cshtml").Html())
        .AsHtmlAttributes(new { @class = "col-sm-12 col-md-12", id = nameof(GetEmployeesQuery), style = "margin-bottom:8px;" })
         .ToDiv())
   
</div>