@using Everest.API
@using Everest.Domain
@using Incoding.Web.Extensions
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewData["Header"] = DataResource.Content;
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dt-buttons btn-group flex-wrap">
           

            @(Html.When(JqueryBind.Click)
                .Ajax(Url.Dispatcher().Query(new AddOrEditContentCommand.AsQuery()).AsView("~/Views/Admin/Content/AddOrEdit.cshtml"))
                .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                .AsHtmlAttributes(new { @class = "btn btn-secondary buttons-copy buttons-html5", style = "margin-bottom:8px;" })
                .ToButton(@<text>
                               <span>@DataResource.Add</span>
                           </text>))
          @* @(Html.When(JqueryBind.KeyUp)
                .Ajax(Url.Dispatcher().Query(new GetContentQuery()).AsJson().AppendToQueryString(new { Search = Selector.Jquery.Self() }))
                .OnSuccess(dsl => { dsl.WithId(nameof(GetContentQuery)).Insert.WithTemplateByView("~/Views/Admin/Content/Tmpl.cshtml").Html(); })
                .AsHtmlAttributes(new { placeholder = @DataResource.Search })
                .ToInput(HtmlInputType.Text, String.Empty))*@
        </div>
    </div>
    @(Html.When(JqueryBind.InitIncoding)
        .Ajax(new GetContentQuery())
        .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/Admin/Content/Tmpl.cshtml").Html())
        .AsHtmlAttributes(new { @class = "col-sm-12 col-md-12", id = nameof(GetContentQuery) })
        .ToDiv())
</div>