﻿@using Everest.Domain
@using Everest.API
@using Incoding.Web.Extensions
@using (var template = Html.Incoding().Template<GetContentQuery.Response>())
{
    @using (template.NotEach())
    {
        <div>@DataResource.Empty</div>
    }
                    @using (var each = template.ForEach())
                    {
                        <li class="nav-item flex-grow-1 text-center">
                            <a class="nav-link" href="#@each.For(q => q.Id)">@each.For(q => q.ShortDescription)</a>
                        </li>
                    }
}