﻿@using Everest.Domain
@using Everest.API
@using Incoding.Web.Extensions
@using (var template = Html.Incoding().Template<GetContentQuery.Response>())
{
    @using (template.NotEach())
    {
        <div class="text-center mt-3">@DataResource.Empty</div>
    }

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-margin-top">
        <div class="container-fluid">
            <div class="navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav w-100 justify-content-between">
                    @using (var each = template.ForEach())
                    {
                        <li class="nav-item flex-grow-1 text-center">
                            <a class="nav-link" href="#@each.For(q => q.Id)">@each.For(q => q.ShortDescription)</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="content custom-margin-top">
        @using (var each = template.ForEach())
        {
            <section id="@each.For(q => q.Id)" class="section section-striped lazy-section">
                <div class="position-relative section-loader">
                    <div class="loader" style="display: none;"></div>
                    <img data-src="@(Url.Dispatcher().Query<GetImageContentQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: "avatar"))" class="image img-fluid mx-auto d-block lazy-image" onload="this.style.display='block'; this.previousElementSibling.style.display='none';">
                    <div class="text position-absolute top-50 start-50 translate-middle text-center">
                        <span class="description custom-text typing-text" data-text="@each.For(q => q.LongDescription)"></span>
                    </div>
                </div>
            </section>
        }
    </div>
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var header = document.querySelector('.navbar');
        if (header) {
            var headerHeight = header.offsetHeight;
            document.documentElement.style.setProperty('--header-height', headerHeight + 'px');
        }

        function typeText(element) {
            const text = element.getAttribute('data-text');
            let index = 0;
            function type() {
                if (index < text.length) {
                    element.textContent += text.charAt(index);
                    index++;
                    setTimeout(type, 100); // Настройка скорости печати здесь
                } else {
                    setTimeout(() => {
                        element.textContent = '';
                        index = 0;
                        type();
                    }, 1000); // Задержка перед перезапуском печати
                }
            }
            type();
        }

        const typingElements = document.querySelectorAll('.typing-text');
        typingElements.forEach(element => {
            element.textContent = ''; // Очистка начального текста
            typeText(element);
        });
    });
</script>
