﻿@using Everest.Domain
@using Everest.API
@using Incoding.Web.Extensions
@model GetProductQuery
@using (var template = Html.Incoding().Template<GetProductQuery.Response>())
{
    @using (template.NotEach())
    {
        <div>@DataResource.Empty</div>
    }
    @using (var each = template.ForEach())
    {
            <h1>@each.For(q => q.CategoryName)</h1>
            <div class="d-flex">
                <img src="@(Url.Dispatcher().Query<GetAvatarProductQuery>(new { Id = each.For(q => q.Id) }).AsFile("image/jpeg", "avatar"))" class="width-30 height-30">
                <div class="d-flex-column gap-1">
                    @using (each.Is(q => q.CartItemId))
                    {
                        @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher().Push<DeleteCartItemCommand>(new { Id = each.For(q => q.CartItemId) }))
                            .OnSuccess(dsl =>
                                            {
                                                dsl.WithId(nameof(GetCountCartQuery)).Trigger.None();
                                                dsl.WithId("productCard").Trigger.None();
                                            })
                            .AsHtmlAttributes(new { @class = " btn width-fit align-self-end" })
                            .ToLink(@<text>
                                        <span class="material-symbols-outlined">delete</span>@DataResource.DeleteFromCart
                                     </text>))
                    }
                    @using (each.Not(q => q.CartItemId))
                    {
                        @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                            .Push<AddProductToCartCommand>(new { ProductId = each.For(q => q.Id) }))
                            .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
                            .OnComplete(dsl =>
                                            {
                                                dsl.WithId(nameof(GetCountCartQuery)).Trigger.None();
                                                dsl.WithId("productCard").Trigger.None();
                                            })
                            .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
                            .AsHtmlAttributes(new { @class = "btn width-fit align-self-end" })
                            .ToLink(@<text>
                                        <span class="material-symbols-outlined">shopping_cart</span>@DataResource.AddToCart
                                     </text>))
                    }
                    <div class="padding-05">
                        <span class="bg-yellow rounded padding-x-05 width-fit">
                            @each.For(q => q.ProductName)
                        </span>
                    </div>
                    <span>
                        @each.For(q => q.LongDescription)
                    </span>
                </div>
            </div>
    }
}