﻿@using Everest.Domain
@model Everest.API.DropDownModel
<div class="dropdown">
    @Html.Hidden(nameof(GetProductQuery.CategoryId))
    <button class="btn" data-bs-toggle="dropdown" aria-expanded="false">
        <span class=@Model.ClassIcon>@Model.Icon</span>
        <span> @Model.Text</span>
    </button>
    <ul class="dropdown-menu">
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <li>

                    @(Html.When(JqueryBind.Click)
                        .PreventDefault()
                        .OnSuccess(dsl =>
                        {
                            dsl.WithId(nameof(GetProductQuery.CategoryId)).JQuery.Attr.Val(item?.Value);
                            dsl.WithId("products").Trigger.None();

                        })
                        .AsHtmlAttributes(new { @class = "dropdown-item" })
                        .ToLink(@item?.Text))
                </li>
            }
        }
        <!-- Проверяем, что Url и Template не null перед использованием -->
        @if (Model.Url != null && Model.Template != null)
        {
            @(Html.When(JqueryBind.Click)
                .Ajax(Model.Url)
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView(Model.Template))
                .AsHtmlAttributes(new { @class = "dropdown-item" })
                .ToTag(HtmlTag.Ul))
        }
    </ul>
</div>