﻿@using Everest.Domain
@using Everest.API
@using Incoding.Web.Extensions

@using (var template = Html.Incoding().Template<GetProductQuery.Response>())
{
    @using (var each = template.ForEach())
    {
        <div class="product">
            <span>
                @each.For(q => q.CategoryName)
            </span>

            <div class="position-relative margin-b-1">
                <div class="d-flex position-absolute top-05 left-05 gap-05">
                    <span class="bg-yellow rounded padding-x-05">
                        @each.For(q => q.ProductName)
                    </span>
                </div>
                

                <a href="@Url.Action("Product", "Home")">
                <img src="@(Url.Dispatcher().Query<GetAvatarProductQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: "avatar"))" class="width-15 height-15 rounded">
                </a>
                </div>
        </div>
    }
}