﻿@using Everest.Domain
@using Everest.API
@using Incoding.Web.Extensions

@using (var template = Html.Incoding().Template<GetProductQuery.Response>())
{
    @using (template.NotEach())
    {
        <div>@DataResource.Empty</div>
    }
    <div class="d-flex justify-content-center w-100">
        <h1>@DataResource.Product</h1>
    </div>
    @using (var each = template.ForEach())
    {
        
            
                    <div class="card fixed-size-card">
                        <div class="card-body">
                            <a href="/Home/Product/@each.For(s => s.Id)" target="_blank">
                                <img src="@(Url.Dispatcher().Query<GetAvatarProductQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: "avatar"))" class="card-img-top mt-3" alt="Product Image">
                            </a>
                            <h5 class="card-title mt-3">@each.For(q => q.ProductName)</h5>
                            <p class="card-text">@each.For(q => q.ShortDescription)</p>
                            @using (each.Is(q => q.CartItemId))
                            {
                                @(Html.When(JqueryBind.Click)
                                    .Ajax(Url.Dispatcher().Push<DeleteCartItemCommand>(new { Id = each.For(q => q.CartItemId) }))
                                    .OnSuccess(dsl =>
                                    {
                                        dsl.WithId(nameof(GetCountCartQuery)).Trigger.None();
                                        dsl.WithId("products").Trigger.None();
                                    })
                                    .AsHtmlAttributes(new { @class = "btn btn-primary" })
                                    .ToLink(@<text>
                        <span class="bi bi-cart4"></span>
                    </text>))
                            }
                            @using (each.Not(q => q.CartItemId))
                            {
                                @(Html.When(JqueryBind.Click)
                                    .Ajax(Url.Dispatcher().Push<AddProductToCartCommand>(new { ProductId = each.For(q => q.Id) }))
                                    .OnComplete(dsl =>
                                    {
                                        dsl.WithId(nameof(GetCountCartQuery)).Trigger.None();
                                        dsl.WithId("products").Trigger.None();
                                    })
                                    .AsHtmlAttributes(new { @class = "btn btn-primary" })
                                    .ToLink(@<text>
                        <span class="bi bi-cart4"></span>
                    </text>))
                            }
                        </div>
                    </div>
            
      
    }
    <div class="d-flex justify-content-between  w-100">
        <button id="prevButton" class="btn btn-secondary">prev</button>
        <button id="nextButton" class="btn btn-secondary">next</button>
    </div>
}