﻿@using Everest.API
@using Everest.Domain
@using Incoding.Core
@using Incoding.Core.CQRS
@using Incoding.Web.CQRS.Common.Command
@using Incoding.Web.Extensions
@model int


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Body {
    <div class="body d-flex-column">
        
            @(Html.When(JqueryBind.None)
                .Ajax<GetProductQuery>(new { Id = Model })
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/CardIndexTmpl.cshtml").Html())
                .AsHtmlAttributes(new { @class = "d-flex-column gap-1 padding-1 section", id = "productCard" })
                .ToDiv())
                

            
            <div class="padding-1 d-flex-column gap-1 section">
        <h2>@DataResource.AllProduct</h2>
        <div class="d-flex gap-05 padding-05">
            @await Html.PartialAsync("~/Views/App/Product/FilterDropDown.cshtml", new DropDownModel
                   {
                       Items = Html.Dispatcher().Query(new GetCategoryForDDQuery() { Type = Category.OfType.Product }),
                       Id = "products",
                       Text = @DataResource.Category,
                       Icon = "sort",
                       ClassIcon = "material-symbols-outlined",
                       Url = Url.Dispatcher().Query(new GetProductQuery()).AsJson(),
                       Template = "~/Views/App/Product/Tmpl.cshtml"
                   })

        </div>
        <div class="d-flex gap-1 padding-05">

            <button class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-left">
                <span class="material-symbols-outlined">
                    chevron_left
                </span>
            </button>

            @(Html.When(JqueryBind.None)
                .Ajax<GetProductQuery>(new { CategoryId = Selector.Jquery.Id(nameof(GetProductQuery.CategoryId)) })
                .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/IndexTmpl.cshtml").Html())
                .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
                .AsHtmlAttributes(new { @class = "d-flex gap-1 overflow-x-hidden", id = "products" })
                .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetProductQuery(), "~/Views/App/Product/IndexTmpl.cshtml")))

            <button class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-right">
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
            </button>
        </div>
    </div>
    </div>
       
   
}