﻿@using Everest.API
@{
    ViewBag.Title = @DataResource.Error404;
}

<div class="error-container">
    <h1>@DataResource.Error404</h1>
    <p>@DataResource.PageNotFound.</p>
    <button onclick="window.location.href='@Url.Action("Main", "Home")'">@DataResource.Main</button>
</div>

<style>
    .error-container {
        text-align: center;
        margin-top: 100px;
    }
    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #0056b3;
    }
</style>