﻿@using Everest.API
@using Everest.Domain
@using Incoding.Web.CQRS.Common.Query
@using Incoding.Web.Extensions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Body
{
    @Html.Dispatcher().AsViewFromQuery(new GetContentQuery(), "~/Views/App/Content/Tmpl.cshtml")
    <div class="products" id="products">
        @(Html.When(JqueryBind.None)
            .Ajax<GetProductQuery>(new { CategoryId = Selector.Jquery.Id(nameof(GetProductQuery.CategoryId)) })
            .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
            .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Index1.cshtml").Html())
            .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
            .AsHtmlAttributes(new { @class = "section section-striped d-flex gap-2 flex-wrap", id = "products" })
            .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetProductQuery(), "~/Views/App/Product/Index1.cshtml")))
    </div>
}









@*    <div class="products" id="products">
        @(Html.When(JqueryBind.None)
            .Ajax<GetProductQuery>(new { CategoryId = Selector.Jquery.Id(nameof(GetProductQuery.CategoryId)) })
            .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
            .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Index1.cshtml").Html())
            .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
            .AsHtmlAttributes(new { @class = "section section-striped d-flex gap-2 flex-wrap", id = "products" })
            .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetProductQuery(), "~/Views/App/Product/Index1.cshtml")))
    </div>
   
        <div class="partners">
            <div class="section section-striped d-flex flex-wrap align-items-center justify-content-center">
                @Html.Dispatcher().AsViewFromQuery(new GetPartnerQuery(), "~/Views/App/Partners/Tmpl.cshtml")
            </div>
        </div>*@ 

@*   @{
        var dummyData = new List<string>();
        for (int i = 1; i <= 100; i++)
        {
            dummyData.Add($"Это строка номер {i}");
        }
    }

    <div class="body-content">
        @foreach (var line in dummyData)
        {
            <p>@line</p>
        }
    </div>
}
   
@*        @Html.Dispatcher().AsViewFromQuery(new GetContentQuery(), "~/Views/App/Content/Tmpl.cshtml")
 <div id="content-peoples" class="d-flex-column gap-1 padding-1 section">
    
     <div class="d-flex justify-content-center gap-1">
         @Html.Dispatcher().AsViewFromQuery(new GetEmployeesQuery(), "~/Views/App/Employee/Tmpl.cshtml")
     </div>
 </div>
 <div class="partners-list p-3" id="content-partners">
     @Html.Dispatcher().AsViewFromQuery(new GetPartnerQuery(), "~/Views/App/Partners/Tmpl.cshtml")
 </div>


  @* <div id="content-products" class="d-flex flex-column gap-3 p-3">
        <h1 class="text-center">
            @DataResource.Product
        </h1>

        <div class="d-flex flex-column">
            <div class="d-flex gap-2 p-2">
                @await Html.PartialAsync("~/Views/Shared/_DropDown.cshtml", new DropDownModel
       {
           Items = Html.Dispatcher().Query(new GetCategoryForDDQuery() { Type = Category.OfType.Product }),
           Id = "products",
           Text = @DataResource.Category,
           Icon = "sort",
           ClassIcon = "material-symbols-outlined",
           Url = Url.Dispatcher().Query(new GetProductQuery()).AsJson(),
           Template = "~/Views/App/Product/Tmpl.cshtml"
       })
            </div>
            <div class="d-flex gap-2 p-2">
                <a class="btn btn-outline-primary width-2 height-10 p-0 flex-shrink-0 justify-content-center m-auto" id="products-left">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </a>
                @(Html.When(JqueryBind.None)
                    .Ajax<GetProductQuery>(new { CategoryId = Selector.Jquery.Id(nameof(GetProductQuery.CategoryId)) })
                    .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
                    .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
                    .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
                    .AsHtmlAttributes(new { @class = "d-flex gap-1 overflow-x-hidden flex-wrap", id = "products" })
                    .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetProductQuery(), "~/Views/App/Product/Tmpl.cshtml")))
                <button class="btn btn-outline-primary width-2 height-10 p-0 flex-shrink-0 justify-content-center m-auto" id="products-right">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div id="about"></div>

    <div class="partners-list p-3" id="content-partners">
        @Html.Dispatcher().AsViewFromQuery(new GetPartnerQuery(), "~/Views/App/Partners/Tmpl.cshtml")
    </div>*@

        
    
  @*  <div id="products" class="d-flex-column gap-1">
        <h1>
            @DataResource.Product
        </h1>

        <div class="d-flex-column">
            <div class="d-flex gap-05 padding-05">
                @await Html.PartialAsync("~/Views/Shared/_DropDown.cshtml", new DropDownModel
                       {
                           Items = Html.Dispatcher().Query(new GetCategoryForDDQuery() { Type = Category.OfType.Product }),
                           Id = "products",
                           Text = @DataResource.Category,
                           Icon = "sort",
                           ClassIcon = "material-symbols-outlined",
                           Url = Url.Dispatcher().Query(new GetProductQuery()).AsJson(),
                           Template = "~/Views/App/Product/Tmpl.cshtml"
                       })
            </div>
            <div class="d-flex gap-1 padding-05">
                <a class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-left">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </a>
                @(Html.When(JqueryBind.None)
                    .Ajax<GetProductQuery>(new { CategoryId = Selector.Jquery.Id(nameof(GetProductQuery.CategoryId)) })
                    .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
                    .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
                    .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
                    .AsHtmlAttributes(new { @class = "d-flex gap-1 overflow-x-hidden", id = "products" })
                    .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetProductQuery(), "~/Views/App/Product/Tmpl.cshtml")))
                <button class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-right">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </button>
            </div>
            </div>
        </div>
    <div id="content-about" class="section d-flex flex-column align-items-center justify-content-center">
        <h1>
            @DataResource.About
        </h1>
        @Html.Dispatcher().AsViewFromQuery(new GetContactsQuery(), "~/Views/App/About/Tmpl.cshtml")
        <div id="content-peoples" class="section d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center gap-1">
                @Html.Dispatcher().AsViewFromQuery(new GetEmployeesQuery(), "~/Views/App/Employee/Tmpl.cshtml")
            </div>
        </div>
        
    </div>
    <div id="content-partners" class="section d-flex flex-column align-items-center justify-content-center">
        @Html.Dispatcher().AsViewFromQuery(new GetPartnerQuery(), "~/Views/App/Partners/Tmpl.cshtml")
    </div>
}*@