﻿@using Everest.API
@using Everest.Domain
@using Incoding.Core
@using Incoding.Core.CQRS
@using Incoding.Web.CQRS.Common.Command
@using Incoding.Web.Extensions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}
@section Body {
    
    <div class="body d-flex-column gap-1">
    <h1>Спасибо за Ваш заказ! </h1>
    
    <p>Наш специалист свяжется с вами в ближайшее время!</p>


    <h2>Благодарим, что выбрали нас!</h2>

    <a href="@Url.Action("Main", "Home")" class="btn">
        <span>@DataResource.Main</span>
    </a>
    </div>
    }
