﻿@using Everest.API
@using Everest.Domain
@using Incoding.Core
@using Incoding.Core.CQRS
@using Incoding.Web.CQRS.Common.Command
@using Incoding.Web.Extensions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cartItems = Html.Dispatcher().Query(new GetCartItemsByCurrentUserQuery()).ToList();
    int numberOfItems = cartItems.Count;

}

@section Body {
    <script>
        $(document).ready(function () {
            $('#phone').mask('+0 (000) 000-0000');
        });
    </script>
    <div class="content custom-margin-top">
        <h1>
            @DataResource.Cart
        </h1>
        <div class="d-flex gap-1 flex-shrink-0 bg-transparent" id="cartItem">

            @(Html.When(JqueryBind.None)
                .Ajax(new GetCartItemsByCurrentUserQuery())
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Cart/Tmpl.cshtml").Html())
                .AsHtmlAttributes(new
                {
                    @class = "d-flex flex-grow-1 gap-1 flex-wrap",
                    id = nameof(GetCartItemsByCurrentUserQuery)
                })
                .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetCartItemsByCurrentUserQuery(), "~/Views/App/Cart/Tmpl.cshtml")))

            @if (numberOfItems > 0)
            {
                <form class="summary" id="summary">
                    <h3>@DataResource.CheckoutOrder</h3>
                    <div class="textbox">
                        <label for="name">@DataResource.FullName:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="textbox">
                        <label for="email">@DataResource.Email:</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="textbox">
                        <label for="phone">@DataResource.Phone:</label>
                        <input type="text" id="phone" name="phone" required>
                        <div class="invalid-feedback">
                            Пожалуйста, введите действительный номер телефона.
                        </div>
                    </div>
                    <div class="textbox">
                        <label for="comment">@DataResource.Comment:</label>
                        <textarea id="comment" name="comment"></textarea>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="agree" required>
                        <label class="form-check-label" for="agree">
                            @DataResource.AgreeToDataProcessing
                        </label>
                    </div>

                    @(Html.When(JqueryBind.Click)
                        .Ajax(Url.Dispatcher()
                        .Push(new CloseCartCommand()
            {
                ClientComment = Selector.Jquery.Name("comment"),
                ClientEmail = Selector.Jquery.Name("email"),
                ClientName = Selector.Jquery.Name("name"),
                ClientPhone = Selector.Jquery.Name("phone")
            }))

                        .OnSuccess(dsl =>
                        {
                            dsl.WithId(nameof(GetCartItemsByCurrentUserQuery)).Trigger.InitIncoding();
                            dsl.WithId(nameof(GetCountCartQuery)).Trigger.None();
                            dsl.Self().Form.Validation.Refresh();

                        }).AsHtmlAttributes(new
                        {
                            @class = "btn align-self-center",
                            type = "submit"
                        })
                        .ToButton(@<text><span class="material-symbols-outlined">shopping_cart</span>@DataResource.Checkout</text>))
                </form>
            }
        </div>
    </div>
   

}