﻿@using Everest.API
@using Everest.Domain
@{
    

    @using (var template = Html.Incoding().Template<GetCartItemsByCurrentUserQuery.Response>())
    {
        @using (template.NotEach())
        {
            <div>@DataResource.EmptyCart</div>
        }

        @using (var each = template.ForEach())
        {
            <div class="product">
                <span>@each.For(q => q.CategoryName)</span>
                <div class="position-relative margin-b-1">
                    <div class="d-flex position-absolute top-05 left-05 gap-05">
                        <span class="bg-yellow rounded padding-x-05">
                            @each.For(q => q.Product)
                        </span>
                    </div>
                    <img src="@(Url.Dispatcher().Query<GetAvatarProductQuery>(new { Id = each.For(q => q.ProductId) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: "avatar"))" class="width-15 height-15 rounded">
                </div>
                @(Html.When(JqueryBind.Click)
                    .Ajax(Url.Dispatcher().Push<DeleteCartItemCommand>(new { Id = each.For(q => q.Id) }))
                    .OnComplete(dsl =>
                    {
                        dsl.WithId(nameof(GetCartItemsByCurrentUserQuery)).Trigger.None();
                        dsl.WithId(nameof(GetCountCartQuery)).Trigger.None();
                    })
                    .AsHtmlAttributes(new { @class = "btn btn-danger align-self-center" })
                    .ToLink(@<text><span class="material-symbols-outlined">delete</span>@DataResource.DeleteFromCart</text>))
            </div>

        }
 }
}    
