@using Everest.API
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="@Url.Content("~/favicon.png")" alt="Everest Trade" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">EVEREST TRADE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <!-- Sidebar user panel (optional) -->
                  
                    


                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->
                            <li class="nav-item">
                                @(Html.When(JqueryBind.Click)
                                    .PreventDefault()
                                    .OnSuccess(dsl =>
                                    {
                                        dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                                        dsl.Self().JQuery.Attr.AddClass(B.Active);
                                        dsl.Document.PushState(Url.Dispatcher().AsView("~/Views/Admin/Order/Index.cshtml"), "Order");
                                    })
                                    .AsHtmlAttributes(new
                                    {
                                        @class = "nav-link active",
                                        href = "Order"
                                    })
                                    .ToTag(HtmlTag.A,
                                        @<text>
                                             <i class="far fa-circle nav-icon"></i>
                                             <p>@DataResource.Order</p>
                                         </text>))
                            </li>
                            <li class="nav-item">
                                @(Html.When(JqueryBind.Click)
                                    .PreventDefault()
                                    .OnSuccess(dsl =>
                                    {
                                        dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                                        dsl.Self().JQuery.Attr.AddClass(B.Active);
                                        dsl.Document.PushState(Url.Dispatcher().AsView("~/Views/Admin/Employee/Index.cshtml"), "Employee");
                                    })
                                    .AsHtmlAttributes(new
                                    {
                                        @class = "nav-link ",
                                        href = "Employee"
                                    })
                                    .ToTag(HtmlTag.A,
                                        @<text>
                                             <i class="far fa-circle nav-icon"></i>
                                             <p>@DataResource.Employees</p>
                                         </text>))
                            </li>
                            <li class="nav-item">
                                @(Html.When(JqueryBind.Click)
                                      .PreventDefault()
                                      .OnSuccess(dsl =>
                                                 {
                                                     dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                                                     dsl.Self().JQuery.Attr.AddClass(B.Active);
                                                     dsl.Document.PushState(Url.Dispatcher().AsView("~/Views/Admin/Product/Index.cshtml"), "Product");
                                                 })
                                      .AsHtmlAttributes(new
                                                        {
                                                                @class = "nav-link",
                                                                href = "Product"
                                                        })
                                      .ToTag(HtmlTag.A,
                                             @<text>
                                                  <i class="far fa-circle nav-icon"></i>
                                                  <p>@DataResource.Product</p>
                                             </text>))
                            </li>
                            <li class="nav-item">
                                @(Html.When(JqueryBind.Click)
                                    .PreventDefault()
                                    .OnSuccess(dsl =>
                                    {
                                        dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                                        dsl.Self().JQuery.Attr.AddClass(B.Active);
                                        dsl.Document.PushState(Url.Dispatcher().AsView("~/Views/Admin/Content/Index.cshtml"), "Content");
                                    })
                                    .AsHtmlAttributes(new
                                    {
                                        @class = "nav-link",
                                        href = "Content"
                                    })
                                    .ToTag(HtmlTag.A,
                                        @<text>
                                             <i class="far fa-circle nav-icon"></i>
                                             <p>@DataResource.Content</p>
                                         </text>))
                            </li>
                            <li class="nav-item">
                                @(Html.When(JqueryBind.Click)
                                    .PreventDefault()
                                    .OnSuccess(dsl =>
                                    {
                                        dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                                        dsl.Self().JQuery.Attr.AddClass(B.Active);
                                        dsl.Document.PushState(Url.Dispatcher().AsView("~/Views/Admin/Partners/Index.cshtml"), "Partners");
                                    })
                                    .AsHtmlAttributes(new
                                    {
                                        @class = "nav-link",
                                        href = "Partners"
                                    })
                                    .ToTag(HtmlTag.A,
                                @<text>
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@DataResource.Partners</p>
                                </text>))
                            </li>
                            <li class="nav-item">
                                @(Html.When(JqueryBind.Click)
                                    .PreventDefault()
                                    .OnSuccess(dsl =>
                                    {
                                        dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                                        dsl.Self().JQuery.Attr.AddClass(B.Active);
                                        dsl.Document.PushState(Url.Dispatcher().AsView("~/Views/Admin/Contacts/Index.cshtml"), "Contacts");
                                    })
                                    .AsHtmlAttributes(new
                                    {
                                        @class = "nav-link",
                                        href = "Contacts"
                                    })
                                    .ToTag(HtmlTag.A,
                                @<text>
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@DataResource.ContactsCompany</p>
                                </text>))
                            </li>
                            <li class="nav-item">
                                @(Html.When(JqueryBind.Click)
                                    .PreventDefault()
                                    .OnSuccess(dsl =>
                                    {
                                        dsl.WithClass("nav-link").JQuery.Attr.RemoveClass(B.Active);
                                        dsl.Self().JQuery.Attr.AddClass(B.Active);
                                        dsl.Document.PushState(Url.Dispatcher().AsView("~/Views/Admin/Category/Index.cshtml"), "Category");
                                    })
                                    .AsHtmlAttributes(new
                                    {
                                        @class = "nav-link",
                                        href = "Category"
                                    })
                                    .ToTag(HtmlTag.A,
                                        @<text>
                                             <i class="far fa-circle nav-icon"></i>
                                             <p>@DataResource.EditCategory</p>
                                         </text>))
                            </li>
                         
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.sidebar -->
</aside>


@(Html.When(JqueryBind.InitIncoding | JqueryBind.IncChangeUrl)
      .Hash()
      .OnBegin(dsl => { dsl.Break.If(() => Selector.Event.Type == "initincoding" && Selector.JS.Location.Hash == ""); })
      .OnBreak(dsl => dsl.Document.PushState(Url.Dispatcher().AsView("~/Views/Admin/Order/Index.cshtml"), "Order"))
      .OnSuccess(dsl => { dsl.Self().Insert.Html().If(() => Selector.Result != ""); })
      .AsHtmlAttributes(classes: "content-wrapper")
      .ToDiv())