﻿@using Everest.API
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@DataResource.ApplicationName</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="~/css/utils.css" />
    <!-- CSS для Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

   
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <!-- Скрипты -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- jQuery and jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-KyZXEAg3QhqLMpG8r+8fhAXLRRX7atGu9+Es+F0rRxM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- jQuery Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-1xQ5WVuAHEZnP3o6rwJ1UpYkKbF6ZzZdx5E6k4F9oQkXBKgfRFFsIK7ykA/VYw5aFp2n0W0/mKY9mI1K9Ysswg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha512-3PI+/0rj1mktlbPVljH5mEHG4IsP6iO7y4czzq85Y8bQzUlI5ry8msI0WlyeHsD+mDLrTkhINtVepRvuojkW1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.2/jquery.validate.unobtrusive.min.js" integrity="sha512-iRpuHrl30hF59ac3adZCBeea1V2JRdtDi5/x5fYMwRv8LmdB6JJ9sJ256Ddbb0LsqM6RhCIxTFOjT4UIQQrOfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Other JS Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.4/underscore-min.js" integrity="sha512-04MDHfxlFjFL9gFTmIQfz15qA2V9ZjFtylV8vVYO6qX3cxXrsXMo/TY1jWJ7C29+p5Fng0HcLU/qXPrJZ5iXIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Local JS Files -->
    <script src="@Url.Content("~/js/libs.js")"></script>
    <script src="~/js/scripts.js"></script>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Head", required: false)
    <script>
        TemplateFactory.Version = '@Guid.NewGuid().ToString()';
        ExecutableBase.IsDebug = true;
    </script>
</head>

<body>
    
        @await Html.PartialAsync("_HeaderLayout")
    <div class="content">
        @await RenderSectionAsync("Body")
        @await Html.PartialAsync("_FooterLayout")
    </div>

    <div class="text-center mt-3">
        Copyright <span id="current-year">@DateTime.Now.Year</span> ©
        <strong>@DataResource.ApplicationName</strong> <br />
        <strong>All rights reserved.</strong>
    </div>

</body>
</html>
