﻿@using Everest.API
@using Everest.Domain
@using Incoding.Web.CQRS.Common.Query
@using Incoding.Web.Extensions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Body
{
    <div class="body d-flex-column">
        <div id="content-info" class="height-full section">
            <div class="carousel">
                <a class="prev btn" id="carousel-prev">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </a>
                <div class="d-flex overflow-x-hidden" id="carousel-container">
                    @Html.Dispatcher().AsViewFromQuery(new GetContentQuery(), "~/Views/App/Content/Tmpl.cshtml")
                </div>

                <a class="next btn" id="carousel-next">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </a>
            </div>
        </div>

        @*  <div id="content-products" class="d-flex-column gap-1 padding-1">
    <h1>
    @DataResource.Product
    </h1>

    <div class="d-flex-column">
    <div class="d-flex gap-05 padding-05">

    @await Html.PartialAsync("~/Views/App/Product/FilterDropDown.cshtml", new DropDownModel
    {
    Items = Html.Dispatcher().Query(new GetCategoryForDDQuery() { Type = Category.OfType.Product }),
    Id = "products",
    Text = @DataResource.Category,
    Icon = "sort",
    ClassIcon = "material-symbols-outlined",
    Url = Url.Dispatcher().Query(new GetProductQuery()).AsJson(),
    Template = "~/Views/App/Product/Tmpl.cshtml"
    })

    </div>
    <div class="d-flex gap-1 padding-05">
    <button class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-left">
    <span class="material-symbols-outlined">
    chevron_left
    </span>
    </button>
    @(Html.When(JqueryBind.None)
    .Ajax<GetProductQuery>(new { CategoryId = Selector.Jquery.Id(nameof(GetProductQuery.CategoryId)) })
    .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
    .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
    .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
    .AsHtmlAttributes(new { @class = "d-flex gap-1 overflow-x-hidden", id = "products" })
    .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetProductQuery(), "~/Views/App/Product/Tmpl.cshtml")))
    <button class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-right">
    <span class="material-symbols-outlined">
    chevron_right
    </span>
    </button>
    </div>
    <div class="padding-05">
    <div class="d-flex gap-05 margin-l-auto width-fit">

    <div class="d-flex gap-05">
    <a href="@Url.Action("Product", "Home")" class="btn">
    @DataResource.AllProduct
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div id="content-contact" class="d-flex-column gap-1 padding-1 section">
    <h1>
    @DataResource.AnyQuestion?
    </h1>
    @Html.Dispatcher().AsViewFromQuery(new GetContactsQuery(), "~/Views/App/AnyQuestion/Tmpl.cshtml")
    </div>*@
        <div id="content-about" class="d-flex-column gap-1 padding-1">
            <h1>
                @DataResource.About
            </h1>
            @Html.Dispatcher().AsViewFromQuery(new GetContactsQuery(), "~/Views/App/About/Tmpl.cshtml")
        </div>
        <div id="content-peoples" class="d-flex-column gap-1 padding-1 section">
            <h1>
                @DataResource.Employees
            </h1>
            <div class="d-flex justify-content-center gap-1">
                @Html.Dispatcher().AsViewFromQuery(new GetEmployeesQuery(), "~/Views/App/Employee/Tmpl.cshtml")
            </div>
        </div>
        <div id="content-partners" class="d-flex-column gap-1 padding-1 section">
            @*  <h1>
        @DataResource.OurPartners
        </h1>
        *@    <div class="partners-list" id="content-partners">
                @Html.Dispatcher().AsViewFromQuery(new GetPartnerQuery(), "~/Views/App/Partners/Tmpl.cshtml")
            </div>
        </div>

    </div>
}