﻿@using Everest.Domain
@using Everest.API
@using Incoding.Web.Extensions

@using (var template = Html.Incoding().Template<GetProductQuery.Response>())
{

    @using (var each = template.ForEach())
    {
        <div class="d-flex-column gap-1 padding-1 section">
            <h1>
                ЕС АРОМАТИК СУ
            </h1>

            <div class="d-flex">
                <img src="resources/images/product.png" class="width-30 height-30">

                <div class="d-flex-column gap-1">
                    <a href="javascript:void(0);" class="btn width-fit align-self-end">
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>

                        <span>
                            В корзину
                        </span>
                    </a>

                    <div class="padding-05">
                        <span class="bg-yellow rounded padding-x-05 width-fit">
                            Подсолнечник
                        </span>
                    </div>

                    <span>
                        Гибрид умеренно-интенсивного типа для технологии SULFO*** Устойчив к гербицидам группы трибенурон- метил зарегистрированным на подсолнечнике. Пригоден для No till.
                    </span>
                </div>
            </div>
        </div>

        <div class="padding-1 d-flex-column gap-1 section">
            <h2>@DataResource.AllProduct</h2>

            <div class="d-flex gap-1 padding-05">
                <a class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-left">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </a>

                @(Html.When(JqueryBind.None)
                    .Ajax<GetProductQuery>(new { CategoryId = Selector.Jquery.Id(nameof(GetProductQuery.CategoryId)) })
                    .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
                    .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
                    .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
                    .AsHtmlAttributes(new { @class = "d-flex gap-1 overflow-x-hidden", id = "products" })
                    .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetProductQuery(), "~/Views/App/Product/Tmpl.cshtml")))

                <button class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-right">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </button>
            </div>
        </div>
    }
}