﻿@using Everest.API
@using Everest.Domain
@using System.Diagnostics.Tracing

@using (var template = Html.Incoding().Template<GetCategoryQuery.Response>())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 108px;"></th>
                <th>@DataResource.CategoryName</th>
                <th>@DataResource.CategoryOfType</th>
            </tr>
        </thead>
        <tbody>
            @using (template.NotEach())
            {
                <tr>
                    <td colspan="3">
                        @DataResource.Empty
                    </td>
                </tr>
            }
            @using (var each = template.ForEach())
            {
                <tr>
                    <td style="padding-right: 10px;">
                        <span>
                            @(Html.When(JqueryBind.Click)
                                .Ajax(Url.Dispatcher()
                                .Query<AddOrEditCategoryCommand.AsQuery>(new { Id = each.For(q => q.Id) })
                                .AsView("~/Views/Admin/Category/AddOrEdit.cshtml"))
                                .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                                .AsHtmlAttributes(new
                                {
                                    @class = "btn btn-secondary bi bi-pencil",
                                    type = "button",
                                    width = "16",
                                    height = "16",
                                    fill = "currentColor",
                                })
                                .ToButton())

                            @(Html.When(JqueryBind.Click)
                                .Ajax(Url.Dispatcher()
                                .Push<DeleteCategoryCommand>(new { Id = each.For(q => q.Id) }))
                                .OnBegin(dsl => dsl.Break.If(() => !Selector.JS.Confirm("Are you sure delete ?")))
                                .OnSuccess(dsl => dsl.WithId(nameof(GetCategoryQuery)).Trigger.Incoding())
                                .AsHtmlAttributes(new
                                {
                                    @class = "btn btn-secondary bi bi-trash3",
                                    type = "button",
                                    width = "16",
                                    height = "16",
                                    fill = "currentColor",
                                })
                                .ToButton())
                        </span>
                    </td>
                    <td>
                        @each.For(q => q.Name)
                    </td>
                    <td>
                        @each.For(q => q.TypeName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
