﻿@using Everest.API
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Body

{
    <div class="body d-flex-column">
    <div id="login-content" class="height-full section">
        <h2>@DataResource.Login</h2>


        @using (Html.BeginForm("Admin", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

                <div class="form-group width-half section gap-1 padding-1 ">
               
                <label for="login">@DataResource.Username:</label>
                <input type="text" class="form-control" id="login" name="login" required placeholder="@DataResource.Username" aria-label="Login">


                <label for="password">@DataResource.Password:</label>
                <input type="password" class="form-control" id="password" name="password" required placeholder="@DataResource.Password" aria-label="Password">
            </div>
            <button type="submit" class="btn btn-primary">@DataResource.Login</button>
                                                                              
            
        }
        </div>
    </div>
}