﻿@using Everest.API
@using Everest.Domain
@using Incoding.Web.Extensions
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewData["Header"] = DataResource.Product;
}


<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dt-buttons btn-group flex-wrap" >
            @(Html.When(JqueryBind.Click)
                .Ajax(Url.Dispatcher().Query(new AddOrEditProductCommand.AsQuery()).AsView("~/Views/Admin/Product/AddOrEdit.cshtml"))
                .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                .AsHtmlAttributes(new { @class = "btn btn-secondary buttons-copy buttons-html5", style = "margin-bottom:8px;" })
                .ToButton(@<text>
                              <span>@DataResource.Add</span>
                           </text>))
            <div style="margin-left: 10px;">
            @await Html.PartialAsync("~/Views/Admin/Product/DropDownFilter.cshtml", new DropDownModel
                   {
                       Items = Html.Dispatcher().Query(new GetCategoryForDDQuery() { Type = Category.OfType.Product }),
                       Id = nameof(GetProductQuery),
                       Text = @DataResource.Category,
                       Url = Url.Dispatcher().Query(new GetProductQuery()).AsJson(),
                       ClassIcon = "bi bi-filter-left",
                       Template = "~/Views/Admin/Product/Tmpl.cshtml",
                   })
            </div>
            <div style="margin-left: 10px;">
            @(Html.When(JqueryBind.KeyUp)
                .Ajax(Url.Dispatcher().Query(new GetProductQuery()).AsJson().AppendToQueryString(new { Search = Selector.Jquery.Self() }))
                .OnSuccess(dsl => { dsl.WithId(nameof(GetProductQuery)).Insert.WithTemplateByView("~/Views/Admin/Product/Tmpl.cshtml").Html(); })
                .AsHtmlAttributes(new { placeholder = @DataResource.Search })
                .ToInput(HtmlInputType.Text, String.Empty))
            </div>
        </div>
    </div>
    @(Html.When(JqueryBind.None)
        .Ajax<GetProductQuery>(new { CategoryId = Selector.Jquery.Id(nameof(GetProductQuery.CategoryId)) })
        .OnBegin(dsl => dsl.Self().JQuery.Attr.AddClass("loader"))
        .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/Admin/Product/Tmpl.cshtml").Html())
        .OnComplete(dsl => dsl.Self().JQuery.Attr.RemoveClass("loader"))
        .AsHtmlAttributes(new { @class = "col-sm-12 col-md-12", id = nameof(GetProductQuery) })
        .ToDiv(@Html.Dispatcher().AsViewFromQuery(new GetProductQuery(), "~/Views/Admin/Product/Tmpl.cshtml")))
</div>