﻿@using Everest.API
@using Everest.Domain
@using Incoding.Web.CQRS.Common.Query
@{
    var categories = Html.Dispatcher().Query(new GetCategoryForDDQuery()).ToList();
    using (var template = Html.Incoding().Template<GetProductQuery.Response>())
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                    <th style="width: 108px;"></th>
                <th>@DataResource.Category</th>
                <th>@DataResource.ProductName</th>
                <th>@DataResource.ShortDescription</th>
                <th>@DataResource.ProductPhoto</th>
                </tr>
            </thead>
            <tbody>
            @using (template.NotEach())
            {
                <tr>
                    <td colspan="4">
                            @DataResource.Empty
                    </td>
                </tr>
            }
            @using (var each = template.ForEach())
            {
                <tr>
                        <td class="padding-right: 10px;">
                        <span>
                        @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                                .Query<AddOrEditProductCommand.AsQuery>(new { Id = each.For(q => q.Id) })
                                .AsView("~/Views/Admin/Product/AddOrEdit.cshtml"))
                                .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                                .AsHtmlAttributes(new
                            {
                                @class = "btn btn-secondary bi bi-pencil",
                                type = "button",
                                width = "16",
                                height = "16",
                                fill = "currentColor",
                            })
                            .ToButton(@<span></span>))

                 
                        @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher().Push<DeleteProductCommand>(new { Id = each.For(q => q.Id) }))
                            .OnBegin(dsl => dsl.Break.If(() => !Selector.JS.Confirm("Are you sure delete ?")))
                            .OnSuccess(dsl => dsl.WithId(nameof(GetProductQuery)).Trigger.Incoding())
                            .AsHtmlAttributes(new
                            {
                                @class = "btn btn-secondary bi bi-trash3",
                                type = "button",
                                width = "16",
                                height = "16",
                                fill = "currentColor",

                            })
                            .ToButton(@<span></span>))
                    </span>
                    </td>
                    <td>
                        @each.For(q => q.CategoryName)
                    </td>
                    
                    <td>
                        @each.For(q => q.ProductName)
                    </td>
                    <td>
                        @each.For(q => q.ShortDescription)
                    </td>
                    <td>
                            <a href='@(Url.Dispatcher().Query<GetAvatarProductQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: $"{each.For(q => q.ProductName)}.jpeg"))' target="_blank" class="btn btn-secondary">@DataResource.Download</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }
}