body {
    font-family: "Inter", Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.logo-image {
    max-height: 70px;
    width: auto;
    margin-right: 70px;
}

.header,
.body {
    margin-bottom: 70px;
}

/* Стили для кнопки */
.feedback-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5c636a;
    color: white;
    border: none;
    border-radius: 50%;
    width: 130px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    animation: bounce 2s infinite;
    text-align: center;
    padding: 10px;
}

    .feedback-button .icon {
        font-size: 24px;
    }

    .feedback-button .text {
        font-size: 12px;
        margin-top: 5rem;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        position: relative;
        animation: typing 3s steps(18, end) infinite;
    }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
.typing-text {
    display: inline-block;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: blink-caret 0.75s step-end infinite;
    color: black; /* черный цвет текста */
    font-weight: bold; /* жирный текст */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: grey;
    }
}

.custom-text {
    font-size: 1.5rem; /* базовый размер шрифта */
    color: black; /* черный цвет текста */
    font-weight: bold; /* жирный текст */
}

/* Размер шрифта для больших экранов (более 1200px) */
@media (min-width: 1200px) {
    .custom-text {
        font-size: 2rem;
    }
}

/* Размер шрифта для экранов среднего размера (от 768px до 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .custom-text {
        font-size: 1.75rem;
    }
}

/* Размер шрифта для малых экранов (от 576px до 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    .custom-text {
        font-size: 1.5rem;
    }
}

/* Размер шрифта для очень малых экранов (менее 576px) */
@media (max-width: 575px) {
    .custom-text {
        font-size: 1.25rem;
    }
}



.feedback-button:hover {
    background-color: #d6d6d6;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.navbar-custom {
    background-color: #d6d6d6 !important;
    border-radius: 0px !important;
    padding-top: 0rem !important;
}

.custom-navbar-text {
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link.active {
    color: #000;
    font-weight: bold;
}

.custom-margin-top {
    margin-top: var(--header-height, 88px);
    background-color: #f8f9fa !important;
}

.section-loader {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--header-height, 100%));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Зебра */
.section-striped:nth-child(even) {
    background-color: #e1e1e1;
}

.section-striped:nth-child(odd) {
    background-color: #b6c1cb;
}

.body-test {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    margin: 20px;
}

    .card img {
        width: 100%;
        height: auto;
    }

.card-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.card-description {
    font-size: 1em;
    color: #777;
    padding: 0 20px;
    margin: 10px 0;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .buy-button:hover {
        background-color: #218838;
    }

.category-label {
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.fixed-size-card {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

    .fixed-size-card .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .fixed-size-card .card-title {
        flex: 0 0 auto;
    }

    .fixed-size-card .card-text {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fixed-size-card .btn {
        flex: 0 0 auto;
        align-self: center;
    }

@media (min-width: 1200px) {
    .fixed-size-card {
        width: 300px;
        height: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fixed-size-card {
        width: 280px;
        height: 420px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fixed-size-card {
        width: 240px;
        height: 380px;
    }
}

@media (max-width: 767px) {
    .fixed-size-card {
        width: 100%;
        height: auto;
    }

        .fixed-size-card img {
            height: 200px;
            object-fit: cover;
        }
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flow;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.partner {
    margin-bottom: 1rem;
}

.partner-logo {
    width: 150px;
    height: auto;
    max-height: 100px;
    object-fit: contain;
}

@media (max-width: 1200px) {
    .partner-logo {
        width: 120px;
        max-height: 80px;
    }
}

@media (max-width: 992px) {
    .partner-logo {
        width: 100px;
        max-height: 70px;
    }
}

@media (max-width: 768px) {
    .partner-logo {
        width: 80px;
        max-height: 60px;
    }
}

@media (max-width: 576px) {
    .partner-logo {
        width: 60px;
        max-height: 50px;
    }
}

.footer .nav-link {
    color: #000 !important;
    font-weight: bold;
}

    .footer .nav-link:hover {
        text-decoration: none;
        color: #000 !important;
    }
