﻿@using Everest.API
@using Everest.Domain
@{
    using (var template = Html.Incoding().Template<GetPartnerQuery.Response>())
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                    <th style="width: 108px;"></th>
                <th>@DataResource.CompanyName</th>
                <th>@DataResource.Contacts</th>
                <th>@DataResource.Avatar</th>
                
            </tr>
            </thead>
            <tbody>
            @using (template.NotEach())
            {
                <tr>
                    <td colspan="4">
                        @DataResource.Empty
                    </td>
                </tr>
            }
            @using (var each = template.ForEach())
            {
                <tr>
                    <td style="padding-right: 10px;">
                        <span>
                        @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                                .Query<AddOrEditPartnerCommand.AsQuery>(new { Id = each.For(q => q.Id) })
                                .AsView("~/Views/Admin/Partners/AddOrEdit.cshtml"))
                            .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                            .AsHtmlAttributes(new
                            {
                                @class = "btn btn-secondary bi bi-pencil",
                                type = "button",
                                width = "16",
                                height = "16",
                                fill = "currentColor",
                            })
                            .ToButton(@<span></span>))


                        @(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                                .Push<DeletePartnerCommand>(new { Id = each.For(q => q.Id) }))
                            .OnBegin(dsl => dsl.Break.If(() => !Selector.JS.Confirm("Are you sure delete ?")))
                            .OnSuccess(dsl => dsl.WithId(nameof(GetPartnerQuery)).Trigger.Incoding())
                            .AsHtmlAttributes(new
                            {
                                @class = "btn btn-secondary bi bi-trash3",
                                type = "button",
                                width = "16",
                                height = "16",
                                fill = "currentColor",
                            })
                            .ToButton(@<span></span>))
                            </span>
                    </td>
                    <td>
                        @each.For(q => q.CompanyName)
                        
                    </td>
                    <td>@each.For(q => q.Site)
                    </td>
                    <td>
                        <a href='@(Url.Dispatcher().Query<GetLabelPartnerQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: $"{each.For(q => q.CompanyName)}.jpeg"))' target="_blank" class="btn btn-secondary">@DataResource.Download</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }
}