﻿@using Everest.Domain
@using Everest.API
@using (var template = Html.Incoding().Template<GetEmployeesQuery.Response>())
{
    @using (template.NotEach())
    {
        <div>@DataResource.Empty</div>
    }

    <div class="swiper-container">
        <div class="swiper-wrapper">
            @using (var each = template.ForEach())
            {
                <div class="swiper-slide">
                    <div class="people">
                        <img loading="lazy" src="@(Url.Dispatcher().Query<GetAvatarEmployeeQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: "avatar"))" />
                        <span>
                            @each.For(q => q.FullName)
                        </span>

                        <span>
                            @each.For(q => q.CategoryName)
                        </span>

                        <a href="tel:@each.For(q => q.Phone)">
                            <span class="material-symbols-outlined">
                                call
                            </span>

                            <span>
                                @each.For(q => q.Phone)
                            </span>
                        </a>

                        <a href="mailto:@each.For(q => q.Email)">
                            <span class="material-symbols-outlined">
                                mail
                            </span>

                            <span>
                                @each.For(q => q.Email)
                            </span>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
}

<!-- Add Swiper styles and scripts -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<style>
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .people {
        text-align: center;
        width: 80%;
    }

        .people img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 2000, // 2 секунды
                disableOnInteraction: false,
            },
        });
    });
</script>
